@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, html {
    @apply m-0 p-0 h-full;
    font-family: 'Big Shoulders Display', 'Bebas Neue', 'Poppins', sans-serif;
    font-optical-sizing: auto;
  }

  button, input, select, textarea {
    font: inherit;
  }
}