@model List<OneMoreSpin.ViewModels.VM.GameHistoryItemVm>

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Game</th>
                <th>Score</th>
                <th>Played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GameName</td>
                    <td>@item.Score</td>
                    <td>@item.PlayedAt.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No game history found.</p>
}
